{% extends "layout.html" %}

{% load static %}

{% block content %}

    <script src="{% static '/chat/js/auth.js' %}"></script>

    <div id="main-container">

        <h1>Simple Chat Room</h1>

        <h2>Quite fond of the darker UI's so thought I'd give this awesome chat UI by a remix.</h2>

        

        <div id="registration-tabs" class="center-block">
            <ul class="nav nav-tabs" style="width: 100%;">
                <li class="active tab-button"><a data-toggle="tab" href="#login-form">Login</a></li>
                <li class="tab-button"><a data-toggle="tab" href="#signup-form">Signup</a></li>
            </ul>

            <div class="tab-content">
                <div id="login-form" class="tab-pane fade in active">
                    <div class="form_field">
                        <label for="login_username"><i class="fa fa-user"></i></label>
                        <input type="username" placeholder="Username" id="login_username" />
                    </div>
                    <div class="form_field">
                        <label for="login_password"><i class="fa fa-lock"></i></label>
                        <input type="password" placeholder="Password" id="login_password" />
                    </div>
                    <button id="login-submit">SIGN IN</button>
                </div>
                <div id="signup-form" class="tab-pane fade">
                    <div class="form_field">
                        <label for="signup_username"><i class="fa fa-user"></i></label>
                        <input type="username" placeholder="Username" id="signup_username" />
                    </div>
                    <div class="form_field">
                        <label for="signup_password"><i class="fa fa-lock"></i></label>
                        <input type="password" placeholder="Password" id="signup_password" />
                    </div>
                    <button id="signup-submit">SIGN UP</button>
                </div>
            </div>
        </div>
        
    </div>

{% endblock %}
